// Normalize
@import '../../../bower_components/normalize.sass/normalize'

@import 'compass'

// Variables
$color-main: #68faff
$color-black: #444
$color-white: #fff

$font-family-base: "orator-std", "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace
$font-family-headlines: "ff-good-headline-web-pro-con", "Helvetica Neue", Helvetica, Arial, sans-serif

$font-size-base: 16px

$font-size-xxxl: 150px
$font-size-xxl: 48px
$font-size-xl: 36px
$font-size-l: 34px
$font-size-m: 22px
$font-size-s: 18px
$font-size-xs: 15px
$font-size-xxs: 12px

// Mixins
=font-size($px)
	font-size: $px
	font-size: ($px / $font-size-base) * 1em

// Base
// html, body
// 	height: 100%
html
	font-size: .85rem
body
	margin: 0
	font-family: $font-family-base
	line-height: 1.5
	text-rendering: optimizeLegibility
	// -webkit-font-smoothing: antialiased
	color: $color-black
*
	box-sizing: border-box
img,
video
	max-width: 100%

img
	display: block

video
	display: block
	&:hover
		cursor: pointer

// Mixins
.headline
	font-family: $font-family-headlines
	font-weight: bold
	font-style: italic
	text-transform: uppercase
.container-color .headline
	color: $color-white

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5
	@extend .headline

h1, .h1
	margin-top: .5em
	margin-bottom: .3em
	+font-size($font-size-xxxl)
	line-height: 1
	color: $color-main

h2, .h2
	font-family: $font-family-base
	+font-size($font-size-xs)
	font-style: normal

h3, .h3
	margin-top: 4rem
	margin-bottom: 1rem
	+font-size($font-size-xxl)

h4, .h4
	margin-top: 3rem
	margin-bottom: 1rem
	+font-size($font-size-xl)
	color: $color-main
.container-color
	h4, .h4
		color: $color-white

h5, .h5
	@extend h4
	+font-size($font-size-l)

a:link
	// transition: background-color .2s linear
	display: inline-block
	line-height: 1.4em
	color: inherit
	&.has-img
		background-color: transparent
		img
			// display: block
			vertical-align: bottom
	&.is-block
		display: block
a:hover,
a:focus
	background-color: $color-main
a:visited
	color: inherit
.container-color
	a:hover,
	a:focus
		background-color: $color-white
a.has-img:hover + a.is-img-link-helper
	@extend a:hover


ul.is-unstyled
	list-style-type: none
	padding: 0

code
	font-family: $font-family-base

footer
	text-align: center

.text-center
	text-align: center
.text-right
	text-align: right

// Smile salto video
#salto-frontale .vjs-play-progress,
#salto-frontale .vjs-volume-level
	background-color: $color-main
#salto-frontale .vjs-mute-control
	display: none


// Helpers
.lead
	+font-size($font-size-m)
	text-transform: uppercase

.text-center
	text-align: center

.center
	margin-right: auto
	margin-left: auto
	
.container-color
	background-color: $color-main

// Layout
.content
	padding: 2rem 1rem
	width: 100%
	overflow: hidden
.grid-container
	@include pie-clearfix
.grid-left,
.grid-right
	display: block

#header
	text-align: center
	// height: 100%
	// .content
	// 	height: 100%
	// position: fixed
	// top: 0
	// right: 0
	// bottom: 0
	// left: 0
	h1
		// position: relative
		// top: 50%
		max-width: 3.1em
		// margin-top: -$font-size-xxxl
		margin-right: auto
		margin-left: auto
	.kenny,
	.brijs
		display: block
	.kenny
		text-align: left
	.brijs
		text-align: right
	h2
		position: relative
		top: -12.5rem
		// position: relative
		// top: 50%
		// margin-top: -$font-size-xs/2

#projects
	.portfolio li
		margin-bottom: 2rem
	a.is-img-link-helper
		line-height: 1.6

#vikingstyle
	.lead,
	#vikingstyle-title-facebook,
	#vikingstyle-title-smile
		text-align: center

#social
	.social-link
		display: block
		// width: 50%
		// float: left
		margin-bottom: 2rem
		text-align: center
		// [alt="LinkedIn"]
		// 	width: .7612903226%
		// [alt="Twitter"]
		// 	width: .264516129%
		// [alt="GitHub"]
		// 	width: .5612903226%
		// [alt="CoderWall"]
		// 	width: .8248175182%

#footer
	text-align: center
	a:link
		text-transform: uppercase

// TODO: media queries
@media (min-width: 640px)
	html
		font-size: 1rem
	.lead
		margin-top: 6rem
		margin-bottom: 6rem
	.content
		width: 42.5rem
		margin-right: auto
		margin-left: auto
		overflow: visible
	.grid-left,
	.grid-right
		width: 50%
	.grid-left
		float: left
		padding-right: .625rem
	.grid-right
		float: right
		padding-left: .625rem

	#projects
		h3
			margin-top: 9rem
		.portfolio
			li
				margin-bottom: 5rem
	#vikingstyle
		#vikingstyle-title-facebook
			text-align: right
		#vikingstyle-title-smile
			text-align: left
		.fb_iframe_widget
			left: -2.25rem

	#bye
		padding-top: 8rem
		padding-bottom: 9rem
		text-align: center

// .content
// 	width: 38.75em
// 	margin-right: auto
// 	margin-left: auto
